@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

body{
    font-family: 'Source Serif Pro', serif;
    background-image:linear-gradient(rgba(40, 40, 40, 0.7), hsla(0, 79%, 92%, 0.7)) ,url("./asses/fondodegatos.webp");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* ==============   TITULOS   =================== */
.title {
    color: hwb(0 98% 1%);
    font-size: 8rem;
    text-align: center;
    margin: 30px;
}
.subtitulo{
    color: hsl(0, 100%, 97%);
    font-size: 6rem;
    margin: 5px;

}
/* ===============   MASCOTAS ===================== */

.envoltorio-mascotas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cajaMascota{
    background-color: #9E7676;
    height: 357px;
    width: 248px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-size: 25px;
}

.cajaMascota:hover{
    background-color: hsl(0, 13%, 34%);
    color:#FFFF;
    cursor: pointer;

}

.cajaMascota img{
    width: 114px;
    height: 214px;
}

.tarjetas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

input{
    display: none;
}
input:checked+label {
    background-color: hsl(0, 13%, 34%);
    color:#FFFF;
}

/* ================== boton seleccionar =========== */

.boton-seleccionar{
    background-color: hwb(0 77% 16%);
    border-radius: 25px;
    height: 85px;
    width: 205px;
    font-size: 20px;
    margin-top: 40px;
}
.boton-seleccionar:hover {
    background-color: hsl(0, 13%, 34%);
    color:#FFFF;
    cursor: pointer;
}

/* -----------------------------   SEGUNDA PANTALLA    ----------------------- */

#Seleccionar-ataque{
    justify-content: space-around;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.boton-de-ataque{
    height: 3rem;
    border-radius: 50px;
    width: 3rem;
    margin: 1rem;
    font-size: 2rem;
}

/* ======================  Mascotas de segunda pantalla ========================== */
.envoltorio-tarjetas-mascotas{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: linear-gradient(hsla(0, 0%, 0%, 0.20), hsla(0, 0%, 0%, 0.20));
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-items: center;
    font-size: 3rem;
    height: 35rem;
    width: 53rem;
    padding: 5rem;
    border: solid black 2px;
}
.envoltorio-mascota-jugador,.envoltorio-mascota-enemigo{
    display: flex;
    align-items: center;
    height: max-content;
}
.envoltorio-botones{
    display: flex;
    flex-direction: column;
    margin: 5rem;
}
#mascota-jugador,#mascota-enemigo{
    display: block;
    width: max-content;
}

.envoltorio-mensaje-reinicio{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(hsla(0, 0%, 0%, 0.20), hsla(0, 0%, 0%, 0.20));
    border-radius: 20px;
    font-size: 2rem;
    height: 13rem;
    width: 54rem;
    flex-direction: column;
    color: #FFFF;
    padding: 18px;
}
img{
    height:15rem;
}

.boton-reinicio{
    border: none;
    font-size: 30px;
    background: linear-gradient(hsla(0, 0%, 0%, 0%), hsla(0, 0%, 0%, 0%));
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

#resultado{
    margin: 0px;
}

#ataque-jugador , #ataque-enemigo{
    font-size: 20px;
}


/* -------------------- RESPONSIVE ----------------------- */
@media(max-width:425px){
    .cajaMascota{
    height: 190px;
    width: 148px;
    font-size: 14px;
    grid-template-columns: 1fr 1fr;
    }
    .tarjetas{
    grid-template-columns: 1fr 1fr;
    }
    .cajaMascota img{
    width: 66px;
    height: 129px;
    }
    .title{
    font-size: 50px;
    margin: 8px;
    }
    .subtitulo{
    font-size: 29px;
    margin: 5px; ;
    }
    .boton-seleccionar{
    height: 49px;
    margin-top: 15px;
    }
    .nombre-mascota{
    margin: 5px;
    text-align: center;
    }

    /* SEGUNDA PANTALLA  */
    .envoltorio-tarjetas-mascotas{
    font-size: 1rem;
    height: 234px;
    width: 131px;
    justify-content: center;
    }
    img{
    height: 120px;
    }
    .envoltorio-botones{
    flex-direction:column;
    align-items: center;
    margin: 2px;
    }
    .boton-de-ataque{
    margin:5px;
    height: 30px;
    width: 30px;
    font-size: 1rem;
    }
    .envoltorio-mensaje-reinicio{
    font-size: 28px;
    height: 2rem;
    width: 13rem;
    padding: 21px;
    }
    #ataque-jugador , #ataque-enemigo, #resultado{
        font-size: 12px;
    }

    
}
/* ==============  CANVAS  ======================= */

    #ver-mapa{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .titleMapa{
        font-size: 50px;
        color: #FFFF
    }